<section class="main-container">
  <div class="row">
    <div class="title">
      <h1><i class="fab fa-angular"></i> Angular</h1>
      <h2>Mise en application notions de base</h2>
    </div>
    <div class="exos">
      <div class="card-exo">
        <app-exercice1></app-exercice1>
      </div>
      <div class="card-exo">
        <app-exercice2></app-exercice2>
      </div>
      <div class="card-exo">
        <app-exercice3></app-exercice3>
      </div>
      <div class="card-exo">
        <app-exercice4></app-exercice4>
      </div>
    </div>
    </div>
  </section>